@property --button-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@font-face {
    font-family: 'ubuntu';
    src:    url('fonts/Ubuntu-Medium.ttf'),
            url('fonts/Ubuntu-MediumItalic.ttf'),
            url('fonts/Ubuntu-Regular.ttf'),
            url('fonts/Ubuntu-Bold.ttf'),
            url('fonts/Ubuntu-BoldItalic.ttf'),
            url('fonts/Ubuntu-Italic.ttf'),
            url('fonts/Ubuntu-Light.ttf'),
            url('fonts/Ubuntu-LightItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}

:root{
    --color-1: hsl(40 100% 50%);
    --color-2: hsl(0, 0%, 0%);
    --color-3: hsl(120, 100%, 97%);
}

h1,h2,h3,h4,legend{
    text-align: center;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.button{
    position: relative;
    width: 300px;
    margin: 0 auto;

    padding: .25em 1em;
    border: 0em;
    border-radius: 2em;

    display: inline-block;

    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    outline: .125em solid;

    cursor: pointer;  
}

html{
    width: 100%;
    overflow-x: clip;

    body{
        width: 100%;
        overflow-x: clip;

        background-color: var(--color-3);

        .container{  
            scroll-behavior: smooth;
            scroll-snap-type:mandatory;

            .to-the-top{
                position: fixed;
                bottom: 1em;
                right: 1em;
                width: 2em;
                aspect-ratio: 1;
                z-index: 45;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                svg{
                    filter: drop-shadow(.25em .25em .25em var(--color-3));
                    animation: to-the-top-anim 1s ease-in-out 0s infinite alternate-reverse;

                    fill: var(--color-1);
                    stroke: var(--color-1);
                }
            }
            
            header{
                position: sticky;
                top: 0;
                width: 100%;
                z-index: 50;

                display: flex;
                justify-content: space-between;
                align-items: stretch;
                gap: .5em;

                background-color: var(--color-1);

                .logo{
                    padding: 0em 1em;

                    svg{
                        height: 1.75em;
                        aspect-ratio: 1;

                        fill: var(--color-3);
                        stroke: var(--color-3);
                    }

                    &:hover,&:focus{
                        background-color: var(--color-3);

                        svg{
                            fill: var(--color-1);
                            stroke: var(--color-1);
                        }
                    }
                }

                nav{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    z-index: 15;

                    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
                    transition: clip-path 1s ease-in-out;

                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: stretch;

                        backdrop-filter: blur(.5em);
                        background-color: hsl(from var(--color-1) h s l / .4);

                        li{
                            a{
                                display: block;

                                padding: .25em 0;

                                text-align: center;
                                font-weight: 700;
                                font-size: 1.25em;     

                                color: var(--color-3);

                                &:hover{
                                    text-decoration: underline;

                                    color: var(--color-1);
                                    background-color: var(--color-3);
                                }
                            }
                        }
                    }
                }

                .nav-hide{
                    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
                }

                .header-toggler{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    transition: transform 1s ease-in-out;

                    cursor: pointer;

                    svg{
                        height: 2em;
                        aspect-ratio: 1;

                        fill: var(--color-3);
                        stroke: var(--color-3);
                    }

                    &:hover,&:focus{
                        background-color: var(--color-3);

                        svg{
                            fill: var(--color-1);
                            stroke: var(--color-1);
                        }
                    }
                }

                .header-toggler-hide{
                    transform: rotate(180deg);                    
                }
            }

            .hero{
                position: relative;

                min-height: 100vh;
                min-height: 100dvh;
                width: 100%;                

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .5em;

                padding: 1em 0em;

                scroll-snap-align: start;

                color: var(--color-3);
                background-color: var(--color-2);

                .image-div{
                    position: relative;

                    overflow: clip;

                    justify-self: center;
                    align-self: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, hsl(from var(--color-2) h s l / 0) 0%, hsl(from var(--color-2) h s l / .95) 100%);
                    }

                    img{
                        object-fit: cover;
                        max-height: 40vh;
                        width: 75%;
                        aspect-ratio: 1; 
                        opacity: 0; 

                        animation: hero-h1-anim var(--duration) linear var(--delay) 1 forwards;
                    }
                }

                h1{
                    white-space: wrap;
                    text-align: center;
                    text-transform: uppercase;
                    opacity: 0;

                    filter: drop-shadow(1px 1px 1px var(--color-3));
                    
                    color: var(--color-1);
                    
                    animation: hero-h1-anim var(--duration) linear var(--delay) 1 forwards;
                }

                .top-text-div,.bottom-text-div{
                    position: relative;
                    z-index: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: stretch;
                    gap: .25em;

                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        text-align: center;

                        span{
                            position: relative;

                            padding-inline-start: 1px;

                            text-align: center;
                            font-family: 'DM Mono';

                            &::after{
                                content: '';

                                position: absolute;
                                inset: 0;
                                z-index: 10;

                                background-color: var(--color-2);

                                animation: hero-text-anim var(--duration,10s) steps(var(--steps,10)) var(--delay,0s) 1 forwards;
                            }
                        }
                    }
                }

                .button-container{
                    position: relative;
                    z-index: 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: .25em .5em;

                    opacity: 0;

                    animation: hero-button-anim var(--duration) ease-in-out var(--delay) 1 forwards;

                    .button{  
                        width: fit-content;

                        font-size: 1.5em;
                        
                        outline: none;
                        color: var(--color-1);
                        background-color: var(--color-2); 
                        
                        &::before{
                            content: '';

                            position: absolute;
                            inset: 0px;
                            z-index: -1;
                            opacity: 1;

                            border-radius: 2em;

                            filter: blur(.25em);

                            background-image: conic-gradient(from var(--button-angle,45deg),var(--color-2),var(--color-1),var(--color-2),var(--color-1));

                            animation: button-anim 3s linear 0s infinite forwards;
                        }
                    
                        &:hover{
                            color: var(--nav-color);
                            background-color: var(--color-1);

                            &::before{
                                background: var(--color-1);
                                filter: blur(1em);
                            }
                        }
                    }
                }
            }

            .wave{
                margin-block: -.25em;
                
                path{
                    fill: var(--color-2);
                    stroke: var(--color-2);
                }
            }

            .skills{
                position: relative;

                min-height: 100vh;
                min-height: 100dvh;
                padding: 2em .5em;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                gap: 2em;

                scroll-snap-align: start;

                color: var(--color-1);
                background-color: var(--color-3);

                .item{    
                    ul{
                        display: grid;
                        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
                        justify-content: center;
                        gap: .5em .25em;

                        li{
                            aspect-ratio: 5/2;

                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            gap: .25em;

                            .text{
                                text-align: center;
                            }

                            .bar{
                                position: relative;
                                z-index: 0;

                                width: 100%;
                                height: 12px;

                                border: 1px solid;
                                border-radius: 15px;

                                &::after{
                                    content: '';

                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 0%;
                                    z-index: 1;

                                    border-radius: 15px;
                                    border-right: 1px solid;

                                    transition: width 3s ease-in-out 0s;

                                    background-image: repeating-linear-gradient(-45deg, var(--color-1) 0px, var(--color-1) 5px, var(--color-3) 5px, var(--color-3) 10px);   
                                }
                            }
                        }
                    }
                }
            }

            .skills-visible{
                .item{
                    ul{
                        li{
                            .bar{
                                &::after{
                                    width: var(--skill,50%);
                                }
                            }
                        }
                    }
                }
            }

            .gallery{
                position: relative;

                min-height: 100vh;
                min-height: 100dvh;
                margin: 0em;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                scroll-snap-align: start;

                color: var(--color-1);
                background-color: var(--color-2);

                .item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: .25em;

                    svg{
                        max-width: 30%;

                        fill: var(--color-1);
                        stroke: var(--color-1);
                    }

                    .button{
                        width: min-content;

                        color: var(--color-1);
                        background-color: var(--color-2);

                        &:hover,&:focus,&:focus-visible{
                            color: var(--color-3);
                            background-color: var(--color-1);
                            outline-color: var(--color-1);
                        }
                    }

                    .gallery-details{
                        position: fixed;
                        inset: 0;
                        z-index: 100;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        clip-path: circle(100% at 50% 50%);
                        opacity: 1;
                        backdrop-filter: blur(5em);

                        transition: clip-path 0s ease-in-out,
                                    opacity .5s ease-in-out;

                        .gallery-close{
                            position: absolute;
                            top: .25em;
                            right: .25em;
                            width: 3em;
                            aspect-ratio: 1;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            text-transform: uppercase;

                            cursor: pointer;

                            svg{
                                width: 100%;
                                height: 100%;

                                fill: var(--color-1);
                                stroke: var(--color-1);
                            }
                        }
                    }

                    .gallery-details-hide{
                        clip-path: circle(0em at 50% 50%);
                        opacity: 0;

                        transition: opacity .5s ease-in-out,
                                    clip-path 0s ease-in-out .5s;
                    }
                }
            }

            .contacts{
                min-height: 100vh;
                min-height: 100dvh;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                gap: 2em;

                padding: 2em 1em;

                scroll-snap-align: start;

                color: var(--color-1);
                background-color: var(--color-3);


                .mail-and-phone{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 1em;

                    a{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        gap: .25em;

                        padding: .25em;

                        svg{
                            width: 2em;
                            height: 2em;

                            fill: var(--color-1);
                            stroke: var(--color-1);
                        }

                        &:hover,&:focus{
                            outline: 2px solid;
                        }
                    }
                }                               

                form{
                    isolation: isolate;

                    position: relative;
                    z-index: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    gap: 1em;

                    width: 90%;
                    max-width: 500px;
                    padding: .5em;
                    border-radius: .5em;
                    margin: 0 auto;

                    gap: .5em;

                    legend{
                        font-weight: 700;
                    }

                    .form-group{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: stretch;
                        gap: .5em;

                        label{
                            text-transform: uppercase;
                        }

                        input,textarea{
                            border: none;
                            outline: none;

                            font-size: 1em;
                            font-weight: 400;
                            padding: .25em .5em;

                            max-width: 100%;

                            background-color: hsl(from var(--color-3) h s calc(l + 20));

                            &:active,&:focus{
                                box-shadow: inset 0px 0px 3px 1px var(--color-1);
                            }
                        }

                        textarea{
                            height: 10em;
                            resize: none;
                        }

                        .error{
                            color: red;
                        }
                    }

                    .button-container{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 1em;

                        .button{
                            width: fit-content;

                            color: var(--color-1);
                            background-color: var(--color-3);

                            &:hover,&:focus,&:focus-visible{
                                color: var(--color-3);
                                background-color: var(--color-1);
                                outline: .125em solid var(--color-1);
                            }
                        }
                    }

                    &::after,&::before{
                        content: '';

                        position: absolute;
                        inset: 0;

                        border-radius: 1em;
                    }

                    &::after{                            
                        z-index: -1;

                        background-color: var(--color-3);
                    }

                    &::before{
                        inset: -3px;
                        z-index: -2;

                        background-image: conic-gradient(from var(--button-angle,45deg), 
                        var(--color-3) 0deg 45deg, 
                        var(--color-1) 70deg 110deg,
                        var(--color-3) 136deg 225deg,
                            var(--color-1) 250deg 290deg,
                            var(--color-3) 316deg 360deg);

                        animation: button-anim 5s linear 0s infinite forwards;
                    }
                }

                .others{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5em;

                    a{
                        position: relative;

                        padding: .25em;
                        border-radius: .25em;

                        svg{
                            width: 2em;
                            height: 2em;

                            fill: var(--color-1);
                            stroke: var(--color-1);
                        }

                        &:hover,&:focus{
                            outline: .125em solid;

                            &::after{
                                content: attr(data-content);

                                position: absolute;
                                bottom: 100%;
                                right: 0%;
                                width: fit-content;
                                height: 100%;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                padding: .25em;

                                white-space: nowrap;

                                clip-path: polygon(0 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

                                // transform: translateY(-100%);

                                background-color: var(--color-1);
                                color: var(--color-3);
                            }
                        }
                    }
                } 
            }
        }
    }
}

// @media screen and (width >= 768px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (width >= 1024px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (width >= 1920px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@keyframes to-the-top-anim {
    from{
        transform: translateY(-.5em);
    }

    to{
        transform: translateY(0em);
    }
}

@keyframes hero-text-anim {
    from{
        transform: translateX(0%);
        border-left: 10px solid white;
    }

    to{
        transform: translateX(100%);
        border-left: 0px solid white;
    }
}

@keyframes hero-h1-anim {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes button-anim {
    from{
        --button-angle: 0deg;
    }

    to{
        --button-angle: 360deg;
    }
}

@keyframes hero-button-anim {
    to{
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        opacity: 1;
    }
}

// @keyframes skill-anim {
//     to{
//         background-image: repeating-linear-gradient(-45deg, var(--color-3) 0px, var(--color-3) 5px, var(--color-1) 5px, var(--color-1) 10px);
//     }
// }