@property --button-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@font-face {
    font-family: 'ubuntu';
    src:    url('fonts/Ubuntu-Medium.ttf'),
            url('fonts/Ubuntu-MediumItalic.ttf'),
            url('fonts/Ubuntu-Regular.ttf'),
            url('fonts/Ubuntu-Bold.ttf'),
            url('fonts/Ubuntu-BoldItalic.ttf'),
            url('fonts/Ubuntu-Italic.ttf'),
            url('fonts/Ubuntu-Light.ttf'),
            url('fonts/Ubuntu-LightItalic.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}

:root{
    --nav-text: hsl(42.9deg 74.4% 49.02%);
    --nav-bg: hsl(282.46deg 78.46% 48.62%);
    --hero-bg: black;
    --hero-text: white;
    --button-text: lime;
    --button-bg: cyan;
    // --nav-text: hsl(0, 0%, 0%);
    // --nav-bg: hsl(0, 0%, 10%);
    // --color-3: hsl(0, 0%, 20%);
    // --color-4: hsl(0, 0%, 30%);
    // --color-5: hsl(0, 0%, 40%);
    // --color-6: hsl(0, 0%, 50%);
}

a{
    text-decoration: none;
    color: inherit;
}

.button{
    position: relative;
    width: 300px;
    margin: 0 auto;

    padding: .25em 1em;
    border-radius: 2em;

    display: block;

    text-align: center;
    font-size: 1.5em;
    font-weight: 600;

    color: var(--button-text);
    background-color: var(--button-bg);

    &::after,&::before{
        content: '';

        position: absolute;
        inset: -3px;
        z-index: -1;

        border-radius: 2em;

        background-image: conic-gradient(from var(--button-angle,45deg),hsl(0, 100%, 64%),hsl(156, 100%, 50%),hsl(215, 100%, 50%),hsl(325, 100%, 50%),hsl(0, 100%, 64%));

        animation: button-anim 3s linear 0s infinite forwards;
    }
    
    // &::after{
       
    // }
    
    &::before{
        filter: blur(1em);
        opacity: 1;       
    }
}

html{
    width: 100%;
    overflow-x: clip;

    body{
        width: 100%;
        overflow-x: clip;

        .container{  
            .to-the-top{
                position: fixed;
                bottom: 1em;
                right: 1em;
                width: 2em;
                aspect-ratio: 1;
                z-index: 45;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                svg{
                    filter: drop-shadow(.25em .25em .25em var(--nav-text));
                    animation: to-the-top-anim 1s ease-in-out 0s infinite alternate-reverse;

                    fill: var(--nav-text);
                    stroke: var(--nav-text);
                }
            }
            
            header{
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 50;

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5em;

                background-color: var(--nav-bg);

                .logo{
                    padding: .25em 1em;

                    font-size: 2em;
                    font-weight: 900;
                    text-transform: uppercase;

                    color: var(--nav-text);
                }

                nav{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    z-index: 15;

                    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
                    transition: clip-path 1s ease-in-out;
                    
                    background-color: var(--nav-bg);

                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: stretch;

                        li{
                            a{
                                display: block;

                                padding: .25em 0;

                                text-align: center;
                                font-weight: 700;
                                font-size: 1.5em;

                                color: var(--nav-text);

                                &:hover{
                                    text-decoration: underline;

                                    color: var(--nav-bg);
                                    background-color: var(--nav-text);
                                }
                            }
                        }
                    }
                }

                .nav-hide{
                    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
                }

                .header-toggler{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    transition: transform 1s ease-in-out;

                    svg{
                        height: 3em;
                        aspect-ratio: 1;

                        fill: var(--nav-text);
                        stroke: var(--nav-text);
                    }
                }

                .header-toggler-hide{
                    transform: rotate(180deg);                    
                }
            }

            .hero{
                min-height: 100vh;
                min-height: 100dvh;
                width: 100%;                

                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;

                padding: 0em 1em;

                color: var(--hero-text);
                background-color: var(--hero-bg);

                .image-div{
                    position: relative;

                    overflow: clip;

                    justify-self: center;
                    align-self: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 0%, 0.95) 100%);
                    }

                    img{
                        object-fit: cover;
                        width: 100%;
                        aspect-ratio: 1;                        
                    }
                }

                .text-div{
                    position: relative;
                    z-index: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: stretch;
                    gap: 2em;

                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        text-align: center;

                        span{
                            position: relative;

                            padding-inline-start: 1px;

                            text-align: center;
                            font-family: 'DM Mono';

                            &::after{
                                content: '';

                                position: absolute;
                                inset: 0;
                                z-index: 10;

                                background-color: var(--hero-bg);

                                animation: hero-text-anim var(--duration,10s) steps(var(--steps,10)) var(--delay,0s) 1 forwards;
                            }
                        }
                    }

                    h1{
                        white-space: wrap;
                        text-align: center;
                        text-transform: uppercase;
                        opacity: 0;

                        filter: drop-shadow(1px 1px 1px var(--hero-text));
                        animation: hero-h1-anim .5s linear 4.25s 1 forwards;
                    }

                    .button{
                        background-color: var(--hero-bg);

                        &:hover{
                            color: var(--hero-bg);
                            background-color: var(--button-text);

                            &::after,&::before{
                                background-image: lime;
                                filter: blur(2em);
                            }
                        }
                    }
                }
            }

            .skills{
                height: 100vh;
                height: 100dvh;

                h2{

                }

                .item{
                    ul{
                        li{

                        }
                    }
                }
            }

            .gallery{
                height: 100vh;
                height: 100dvh;

                h2{

                }

                .item{
                    h3{

                    }
                }
            }

            .contacts{
                height: 100vh;
                height: 100dvh;

                .infos{
                    .rows{
                        .key{

                        }

                        .value{

                        }
                    }
                }

                .form{
                    legend{

                    }

                    .form-group{
                        label{

                        }

                        input{

                        }

                        textarea{

                        }

                        .error{

                        }
                    }

                    .button-container{
                        button{

                        }
                    }
                }
            }
        }
    }
}

// @media screen and (width >= 768px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (width >= 1024px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (width >= 1920px) {
//     html{
//         body{
//             .container{  
//                 .to-the-top{

//                 }

//                 .to-the-top-hide{

//                 }
                
//                 header{
//                     .logo{

//                     }

//                     nav{
//                         ul{
//                             li{
//                                 a{

//                                 }
//                             }
//                         }
//                     }

//                     .header-toggler{
//                         svg{

//                         }
//                     }
//                 }

//                 .hero{
//                     .image-div{
//                         img{

//                         }
//                     }

//                     .text-div{
//                         p{
//                             span{

//                             }
//                         }

//                         h1{

//                         }

//                         .button{

//                         }
//                     }
//                 }

//                 .skills{
//                     h2{

//                     }

//                     .item{
//                         ul{
//                             li{

//                             }
//                         }
//                     }
//                 }

//                 .gallery{
//                     h2{

//                     }

//                     .item{
//                         h3{

//                         }
//                     }
//                 }

//                 .contacts{
//                     .infos{
//                         .rows{
//                             .key{

//                             }

//                             .value{

//                             }
//                         }
//                     }

//                     .form{
//                         legend{

//                         }

//                         .form-group{
//                             label{

//                             }

//                             input{

//                             }

//                             textarea{

//                             }

//                             .error{

//                             }
//                         }

//                         .button-container{
//                             button{

//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@keyframes to-the-top-anim {
    from{
        transform: translateY(-.5em);
    }

    to{
        transform: translateY(0em);
    }
}

@keyframes hero-text-anim {
    from{
        transform: translateX(0%);
        border-left: 10px solid white;
    }

    to{
        transform: translateX(100%);
        border-left: 0px solid white;
    }
}

@keyframes hero-h1-anim {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes button-anim {
    from{
        --button-angle: 0deg;
    }

    to{
        --button-angle: 360deg;
    }
}