@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@property --button-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@font-face {
  font-family: "ubuntu";
  src: url("fonts/Ubuntu-Medium.ttf"), url("fonts/Ubuntu-MediumItalic.ttf"), url("fonts/Ubuntu-Regular.ttf"), url("fonts/Ubuntu-Bold.ttf"), url("fonts/Ubuntu-BoldItalic.ttf"), url("fonts/Ubuntu-Italic.ttf"), url("fonts/Ubuntu-Light.ttf"), url("fonts/Ubuntu-LightItalic.ttf");
}
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
}

:root {
  --color-1: hsl(40 100% 50%);
  --color-2: hsl(0, 0%, 0%);
  --color-3: hsl(120, 100%, 97%);
}

h1, h2, h3, h4, legend {
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.button {
  padding: 0.25em 1em;
  border: 0em;
  border-radius: 2em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  outline: 0.125em solid;
  cursor: pointer;
}

html {
  width: 100%;
  overflow-x: clip;
}
html body {
  width: 100%;
  overflow-x: clip;
  background-color: hsl(from var(--color-3) h s calc(l - 7));
}
html body .container {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  background-color: var(--color-3);
}
html body .container .to-the-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2em;
  aspect-ratio: 1;
  z-index: 45;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
html body .container .to-the-top svg {
  filter: drop-shadow(0.25em 0.25em 0.25em var(--color-3));
  animation: to-the-top-anim 1s ease-in-out 0s infinite alternate-reverse;
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5em;
  background-color: var(--color-1);
}
html body .container header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
}
html body .container header .logo svg {
  height: 1.75em;
  aspect-ratio: 1;
  fill: var(--color-3);
  stroke: var(--color-3);
}
html body .container header .logo:hover, html body .container header .logo:focus {
  background-color: var(--color-3);
}
html body .container header .logo:hover svg, html body .container header .logo:focus svg {
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container header nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 15;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}
html body .container header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);
  background-color: hsl(from var(--color-1) h s l/0.4);
}
html body .container header nav ul li a {
  display: block;
  padding: 0.25em 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--color-3);
}
html body .container header nav ul li a:hover, html body .container header nav ul li a:focus, html body .container header nav ul li a:focus-visible {
  text-decoration: underline;
  color: var(--color-1);
  background-color: var(--color-3);
}
html body .container header .nav-hide {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
          clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}
html body .container header .header-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  cursor: pointer;
}
html body .container header .header-toggler svg {
  height: 2em;
  aspect-ratio: 1;
  fill: var(--color-3);
  stroke: var(--color-3);
}
html body .container header .header-toggler:hover, html body .container header .header-toggler:focus {
  background-color: var(--color-3);
}
html body .container header .header-toggler:hover svg, html body .container header .header-toggler:focus svg {
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container header .header-toggler-hide {
  transform: rotate(180deg);
}
html body .container .hero {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0em;
  scroll-snap-align: start;
  color: var(--color-3);
  background-color: var(--color-2);
}
html body .container .hero .image-div {
  position: relative;
  overflow: clip;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .container .hero .image-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(from var(--color-2) h s l/0) 0%, hsl(from var(--color-2) h s l/0.95) 100%);
}
html body .container .hero .image-div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 40vh;
  width: 75%;
  aspect-ratio: 1;
  opacity: 0;
  animation: hero-h1-anim var(--duration) linear var(--delay) 1 forwards;
}
html body .container .hero h1 {
  white-space: wrap;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  filter: drop-shadow(1px 1px 1px var(--color-3));
  color: var(--color-1);
  animation: hero-h1-anim var(--duration) linear var(--delay) 1 forwards;
}
html body .container .hero .top-text-div, html body .container .hero .bottom-text-div {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.25em;
}
html body .container .hero .top-text-div p, html body .container .hero .bottom-text-div p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
html body .container .hero .top-text-div p span, html body .container .hero .bottom-text-div p span {
  position: relative;
  padding-inline-start: 1px;
  text-align: center;
  font-family: "DM Mono";
}
html body .container .hero .top-text-div p span::after, html body .container .hero .bottom-text-div p span::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: var(--color-2);
  animation: hero-text-anim var(--duration, 10s) steps(var(--steps, 10)) var(--delay, 0s) 1 forwards;
}
html body .container .hero .button-container {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  opacity: 0;
  animation: hero-button-anim var(--duration) ease-in-out var(--delay) 1 forwards;
}
html body .container .hero .button-container .button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
  outline: none;
  color: var(--color-1);
  background-color: var(--color-2);
}
html body .container .hero .button-container .button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 1;
  border-radius: 2em;
  filter: blur(0.25em);
  background-image: conic-gradient(from var(--button-angle, 45deg), var(--color-2), var(--color-1), var(--color-2), var(--color-1));
  animation: button-anim 3s linear 0s infinite forwards;
}
html body .container .hero .button-container .button:hover, html body .container .hero .button-container .button:focus, html body .container .hero .button-container .button:focus-visible {
  color: var(--nav-color);
  background-color: var(--color-1);
}
html body .container .hero .button-container .button:hover::before, html body .container .hero .button-container .button:focus::before, html body .container .hero .button-container .button:focus-visible::before {
  background: var(--color-1);
  filter: blur(1em);
}
html body .container .wave {
  margin-block: -0.25em;
}
html body .container .wave path {
  fill: var(--color-2);
  stroke: var(--color-2);
}
html body .container .skills {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
  scroll-snap-align: start;
  color: var(--color-1);
  background-color: var(--color-3);
}
html body .container .skills .item ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  gap: 0.5em 0.25em;
}
html body .container .skills .item ul li {
  aspect-ratio: 5/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25em;
}
html body .container .skills .item ul li .text {
  text-align: center;
}
html body .container .skills .item ul li .bar {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 0.75em;
  border: 0.1em solid;
  border-radius: 0.75em;
}
html body .container .skills .item ul li .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 1;
  border-radius: 0.75em;
  border-right: 0.1em solid;
  transition: width 3s ease-in-out 0s;
  background-image: repeating-linear-gradient(-45deg, var(--color-1) 0px, var(--color-1) 5px, var(--color-3) 5px, var(--color-3) 10px);
}
html body .container .skills-visible .item ul li .bar::after {
  width: var(--skill, 50%);
}
html body .container .gallery {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  scroll-snap-align: start;
  color: var(--color-1);
  background-color: var(--color-2);
}
html body .container .gallery .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
html body .container .gallery .item svg {
  max-width: 30%;
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container .gallery .item .button {
  width: -moz-min-content;
  width: min-content;
  color: var(--color-1);
  background-color: var(--color-2);
}
html body .container .gallery .item .button:hover, html body .container .gallery .item .button:focus, html body .container .gallery .item .button:focus-visible {
  color: var(--color-3);
  background-color: var(--color-1);
  outline-color: var(--color-1);
}
html body .container .gallery .item .gallery-details {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  opacity: 1;
  -webkit-backdrop-filter: blur(5em);
          backdrop-filter: blur(5em);
  transition: opacity 0.5s ease-in-out, -webkit-clip-path 0s ease-in-out;
  transition: clip-path 0s ease-in-out, opacity 0.5s ease-in-out;
  transition: clip-path 0s ease-in-out, opacity 0.5s ease-in-out, -webkit-clip-path 0s ease-in-out;
}
html body .container .gallery .item .gallery-details .gallery-close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 3em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
html body .container .gallery .item .gallery-details .gallery-close svg {
  width: 100%;
  height: 100%;
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container .gallery .item .gallery-details-hide {
  -webkit-clip-path: circle(0em at 50% 50%);
          clip-path: circle(0em at 50% 50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, -webkit-clip-path 0s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out, clip-path 0s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out, clip-path 0s ease-in-out 0.5s, -webkit-clip-path 0s ease-in-out 0.5s;
}
html body .container .contacts {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
  padding: 2em 1em;
  scroll-snap-align: start;
  color: var(--color-1);
  background-color: var(--color-3);
}
html body .container .contacts .mail-and-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
html body .container .contacts .mail-and-phone a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em;
}
html body .container .contacts .mail-and-phone a svg {
  width: 1em;
  height: 1em;
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container .contacts .mail-and-phone a:focus {
  outline: 0.125em solid;
}
html body .container .contacts form {
  isolation: isolate;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5em;
  width: 90%;
  max-width: 500px;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0 auto;
}
html body .container .contacts form legend {
  font-weight: 700;
}
html body .container .contacts form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5em;
}
html body .container .contacts form .form-group label {
  text-transform: uppercase;
}
html body .container .contacts form .form-group input, html body .container .contacts form .form-group textarea {
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  padding: 0.25em 0.5em;
  max-width: 100%;
  background-color: hsl(from var(--color-3) h s calc(l + 20));
}
html body .container .contacts form .form-group input:active, html body .container .contacts form .form-group input:focus, html body .container .contacts form .form-group textarea:active, html body .container .contacts form .form-group textarea:focus {
  box-shadow: inset 0px 0px 3px 1px var(--color-1);
}
html body .container .contacts form .form-group textarea {
  height: 10em;
  resize: none;
}
html body .container .contacts form .form-group .error {
  color: red;
}
html body .container .contacts form .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
html body .container .contacts form .button-container .button {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-1);
  background-color: var(--color-3);
}
html body .container .contacts form .button-container .button:hover, html body .container .contacts form .button-container .button:focus, html body .container .contacts form .button-container .button:focus-visible {
  color: var(--color-3);
  background-color: var(--color-1);
  outline: 0.125em solid var(--color-1);
}
html body .container .contacts form::after, html body .container .contacts form::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1em;
}
html body .container .contacts form::after {
  z-index: -1;
  background-color: var(--color-3);
}
html body .container .contacts form::before {
  inset: -3px;
  z-index: -2;
  background-image: conic-gradient(from var(--button-angle, 45deg), var(--color-3) 0deg 45deg, var(--color-1) 70deg 110deg, var(--color-3) 136deg 225deg, var(--color-1) 250deg 290deg, var(--color-3) 316deg 360deg);
  animation: button-anim 5s linear 0s infinite forwards;
}
html body .container .contacts .others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
html body .container .contacts .others a {
  position: relative;
  padding: 0.25em;
  border-radius: 0.25em;
}
html body .container .contacts .others a svg {
  width: 2em;
  height: 2em;
  fill: var(--color-1);
  stroke: var(--color-1);
}
html body .container .contacts .others a:hover, html body .container .contacts .others a:focus {
  outline: 0.125em solid;
}
html body .container .contacts .others a:hover::after, html body .container .contacts .others a:focus::after {
  content: attr(data-content);
  position: absolute;
  bottom: 100%;
  right: 0%;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  white-space: nowrap;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0 20%, 100% 20%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: var(--color-1);
  color: var(--color-3);
}

@media screen and (width >= 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  html body .container header {
    height: 2.5em;
    align-items: center;
  }
  html body .container header .logo svg {
    height: 2.5em;
  }
  html body .container header nav {
    position: static;
    padding: 0em 1em;
  }
  html body .container header nav ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: transparent;
  }
  html body .container header nav ul li a {
    display: inline-block;
    color: var(--color-3);
    background-color: transparent;
  }
  html body .container header nav ul li a:hover, html body .container header nav ul li a:focus, html body .container header nav ul li a:focus-visible {
    color: var(--color-3);
    background-color: transparent;
    outline: none;
  }
  html body .container header .nav-hide {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
  html body .container header .header-toggler {
    display: none;
  }
  html body .container .hero .image-div img {
    width: 90%;
    max-height: 50vh;
  }
  html body .container .hero .top-text-div p span, html body .container .hero .bottom-text-div p span {
    font-size: 1.5em;
  }
  html body .container .hero .button-container .button {
    font-size: 1.75em;
  }
  html body .container .skills .item ul {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5em 0.75em;
  }
  html body .container .skills .item ul li {
    aspect-ratio: 4;
  }
  html body .container .skills .item ul li .text {
    font-size: 1.5em;
  }
  html body .container .skills .item ul li .bar {
    height: 0.75em;
  }
  html body .container .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    gap: 1em;
  }
  html body .container .gallery h2 {
    grid-column: 1/-1;
  }
  html body .container .gallery .item {
    align-self: end;
    gap: 1em;
  }
  html body .container .gallery .item svg {
    height: 5em;
    width: 5em;
  }
  html body .container .gallery .item .button {
    font-size: 1.25em;
  }
  html body .container .contacts .mail-and-phone a {
    font-size: 1.5em;
  }
  html body .container .contacts .mail-and-phone a svg {
    height: 1.5em;
    width: 1.5em;
  }
  html body .container .contacts form {
    padding: 1.5em;
    border-radius: 1.5em;
  }
  html body .container .contacts form legend {
    font-size: 1.75em;
  }
  html body .container .contacts form .form-group label {
    font-size: 1.25em;
  }
  html body .container .contacts form .form-group input, html body .container .contacts form .form-group textarea {
    font-size: 1.25em;
  }
  html body .container .contacts form .button-container .button {
    font-size: 1.25em;
  }
  html body .container .contacts .others a {
    font-size: 1.5em;
  }
}
@media screen and (width >= 1024px) {
  html body .container .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-content: start;
    padding: 0em 1em;
  }
  html body .container .hero .top-text-div {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: end;
  }
  html body .container .hero h1 {
    grid-column: span 1;
    grid-row: span 1;
    align-self: center;
    justify-self: center;
    white-space: nowrap;
  }
  html body .container .hero .bottom-text-div {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: start;
  }
  html body .container .hero .button-container {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
    align-self: start;
  }
  html body .container .hero .image-div {
    position: relative;
    z-index: 1;
    justify-self: center;
    align-self: center;
    grid-column: span 1;
    grid-row: span 4;
  }
  html body .container .hero .image-div img {
    width: 100%;
    max-height: 90vh;
  }
  html body .container .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    padding: 3em 1em;
  }
  html body .container .skills h2 {
    grid-column: 1/-1;
    align-self: end;
  }
  html body .container .skills .item {
    grid-column: span 1;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: hsl(from var(--color-3) h s calc(l - 7));
  }
  html body .container .skills .item ul li {
    aspect-ratio: 10;
  }
  html body .container .skills .programming-languages {
    grid-column: span 2;
  }
  html body .container .skills .programming-languages ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  html body .container .skills .programming-languages ul li {
    aspect-ratio: 16;
  }
  html body .container .gallery {
    gap: 2em 1em;
    padding: 0em 1em;
  }
  html body .container .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: start;
    gap: 1em 2em;
    padding: 3em 1em;
  }
  html body .container .contacts h2 {
    grid-column: 1/-1;
  }
  html body .container .contacts .mail-and-phone {
    order: 1;
    grid-column: span 1;
    grid-row: span 1;
    align-self: end;
    gap: 0em;
    border-bottom: 0.25em double;
  }
  html body .container .contacts form {
    order: 2;
    grid-column: span 1;
    grid-row: span 2;
    justify-self: center;
    align-self: start;
    gap: 0.5em;
    padding: 1em;
    border-radius: 1em;
  }
  html body .container .contacts form .form-group textarea {
    height: 3em;
  }
  html body .container .contacts .others {
    order: 3;
    grid-column: span 1;
    grid-row: span 1;
    align-self: start;
    border-top: 0.25em double;
  }
}
@media screen and (width >= 1440px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3.25em;
  }
  h3 {
    font-size: 2em;
  }
  html body .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  html body .container header nav {
    position: absolute;
    top: 0%;
    left: 50%;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .container header nav ul {
    justify-content: center;
    align-items: center;
  }
  html body .container .hero {
    justify-content: center;
    align-content: center;
  }
  html body .container .hero .image-div img {
    min-height: 95vh;
  }
  html body .container .hero .top-text-div p span {
    font-size: 3em;
  }
  html body .container .hero .bottom-text-div p span {
    font-size: 3em;
  }
  html body .container .hero .button-container .button {
    font-size: 3.5em;
  }
  html body .container .skills {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
  }
  html body .container .skills .item {
    grid-column: span 1;
  }
  html body .container .skills .item ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  html body .container .skills .item ul li .text {
    font-size: 1.75em;
  }
  html body .container .skills .programming-languages {
    grid-column: span 4;
  }
  html body .container .gallery .item svg {
    height: 10em;
    width: 10em;
  }
  html body .container .gallery .item .button {
    font-size: 2em;
  }
  html body .container .contacts {
    align-content: center;
  }
  html body .container .contacts form {
    padding: 1em;
    border-radius: 1em;
    gap: 1em;
  }
  html body .container .contacts form .form-group {
    gap: 0.5em;
  }
  html body .container .contacts form .form-group textarea {
    height: 8em;
  }
}
@keyframes to-the-top-anim {
  from {
    transform: translateY(-0.5em);
  }
  to {
    transform: translateY(0em);
  }
}
@keyframes hero-text-anim {
  from {
    transform: translateX(0%);
    border-left: 0.75em solid white;
  }
  to {
    transform: translateX(100%);
    border-left: 0em solid white;
  }
}
@keyframes hero-h1-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes button-anim {
  from {
    --button-angle: 0deg;
  }
  to {
    --button-angle: 360deg;
  }
}
@keyframes hero-button-anim {
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */